
<div class="footer__container">

    <div class="menu-footer__item">
        <ul>
            <li>
                <a
                href="https://linkedin.com/in/adrianoagiljr"
                target="_blank"
                rel="noopener noreferrer"
                >
                    LinkedIn
                </a>
            </li>

            <li>
                <a
                href="https://github.com/adriano-gil"
                target="_blank"
                rel="noopener noreferrer"
                >
                    GitHub
                </a>
            </li>

        </ul>

    </div>

</div>
